$dialog-bg:#333333;
$white: #FFFFFF;
$black:#333333;
$font-weight:bolder;
$font-size: large;
$green:#1D298E;
$dialog-bg-t:  #009FE8;

$camera-r:1rem;
.dialog-text{
  font-weight: $font-weight;
  font-size: large;
  color: $white;
  text-align: center;
}
